.purple-bg
{
    background:#E27AFF;
}
.portfolio .portfolio-item .portfolio-item-caption
{
    background: #C800FF;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active
{

background: #E27AFF;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover
{
    color: #E27AFF;
    
}
a{
    color: #E27AFF;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover{
    color: #C800FF;
}
@media (min-width: 992px)
{
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: white;
    }
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #C800FF;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover
{
background: #640B7D;
}
